prune *
graft src
graft tests

include LICENSE README.md pyproject.toml setup.py setup.cfg
recursive-include include *.h
recursive-include pybind11/include/pybind11 *
include pybind11/LICENSE
recursive-include rapidjson/include *
include cpp-peglib/peglib.h
global-exclude __pycache__ *.py[cod] .*
