name: CI

on:
  workflow_dispatch:
  pull_request:
  merge_group:
  push:
    branches:
    - master
    - main
    - develop

jobs:
  pre-commit:
    name: Format
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
    - uses: actions/setup-python@v3
      with:
        python-version: 3.12
    - uses: pre-commit/action@v3.0.0
      with:
        extra_args: --hook-stage manual --all-files

  checks:
    name: Check Python ${{ matrix.python-version }} on ${{ matrix.runs-on }}
    runs-on: ${{ matrix.runs-on }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.12", "3.13", "3.13t"]
        runs-on: [ubuntu-latest, macos-latest, windows-latest]

        include:
        - python-version: "3.8"
          runs-on: ubuntu-latest
        - python-version: "3.8"
          runs-on: macos-13
        - python-version: "3.8"
          runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - uses: Quansight-Labs/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install package
      run: python -m pip install .[test]

    - name: Test package
      run: python -m pytest -ra

  checkroot:
    name: Check ROOT bindings
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up Conda
        uses: conda-incubator/setup-miniconda@v3
        with:
          python-version: 3.12
          miniforge-version: latest

      - name: Install ROOT
        shell: bash -l {0}
        run: |
          mamba install root

      - name: Install package
        shell: bash -l {0}
        run: python -m pip install .[test]

      - name: Test package
        shell: bash -l {0}
        run: python -m pytest -ra
