name: CI

on:
  workflow_dispatch:
  pull_request:
  merge_group:
  push:
    branches:
      - master
      - main
      - develop

jobs:
  pre-commit:
    name: Format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
          fetch-depth: 0
          fetch-tags: true
      - uses: actions/setup-python@v6
        with:
          python-version: 3.12
      - uses: pre-commit/action@v3.0.0
        with:
          extra_args: --hook-stage manual --all-files

  checks:
    name: Check Python ${{ matrix.python-version }} on ${{ matrix.runs-on }}
    runs-on: ${{ matrix.runs-on }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.9", "3.13", "3.14", "3.14t"]
        runs-on: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
          fetch-depth: 0
          fetch-tags: true

      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install package
        run: python -m pip install . --group test

      - name: Test package
        if: ${{ !endsWith(matrix.python-version , 't') }}
        run: python -m pytest -ra

      - name: Test package (parallel)
        if: endsWith(matrix.python-version , 't')
        run: python -m pytest -ra --parallel-threads=16 --iterations=10

  checkroot:
    name: Check ROOT bindings
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
          fetch-depth: 0
          fetch-tags: true

      - name: Set up Conda
        uses: conda-incubator/setup-miniconda@v3
        with:
          python-version: 3.12
          miniforge-version: latest

      - name: Install ROOT
        shell: bash -l {0}
        run: |
          mamba install root

      - name: Install package
        shell: bash -l {0}
        run: python -m pip install . --group test

      - name: Test package
        shell: bash -l {0}
        run: pytest

  pass:
    name: All tests passed
    needs: [checks, checkroot]
    runs-on: ubuntu-latest
    steps:
      - run: echo "All jobs passed"
