name: PR Tests

on:
  pull_request:
    branches:
    - master

jobs:
  linter:
    name: Linter
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.6
      uses: actions/setup-python@v1
      with:
        python-version: 3.6
    - name: Lint with flake8
      run: |
        pip install flake8 black
        flake8 correctionlib --count --show-source --statistics
    - name: Check formatting with black
      run: |
        python -m black --check correctionlib

  test:
    name: Build (${{ matrix.os }}, python ${{ matrix.python-version }}
    needs: linter
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 4
      fail-fast: true
      matrix:
        os: [ubuntu-latest, macos-latest]
        python-version: [3.6, 3.8]

    steps:
    - name: Checkout code
      uses: actions/checkout@v1
      with:
        submodules: recursive
    - name: Setup miniconda
      uses: conda-incubator/setup-miniconda@master
      with:
        miniforge-variant: Mambaforge
        use-mamba: true
        activate-environment: test
        python-version: ${{ matrix.python-version }}
    - name: Install build environment
      shell: bash -l {0}
      run: |
        conda install -c conda-forge make numpy $(uname|grep -q Darwin && echo "clangxx_osx-64>=10" || echo "gxx_linux-64>=8.1")
    - name: Build package
      shell: bash -l {0}
      run: |
        make PYTHON=python${{ matrix.python-version }} all
    - name: Run some demos
      shell: bash -l {0}
      run: |
        env
        ./demo data/examples.json
        python demo.py
