name: wheels

on:
  workflow_dispatch:
  release:
    types:
      - published

jobs:
  make_sdist:
    name: Make SDist
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive

    - name: Build SDist
      run: pipx run --spec build pyproject-build --sdist

    - uses: actions/upload-artifact@v2
      with:
        path: dist/*.tar.gz

  build_wheels:
    name: Wheel on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-18.04, macos-latest]

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive

    - uses: joerick/cibuildwheel@v1.11.0
      env:
        CIBW_SKIP: cp27* pp*-macosx*
        CIBW_TEST_EXTRAS: test
        CIBW_TEST_COMMAND: pytest {project}/tests
        MACOSX_DEPLOYMENT_TARGET: 10.14

    - name: Upload wheels
      uses: actions/upload-artifact@v2
      with:
        path: wheelhouse/*.whl

  # workaround for MSVC, can be removed when scikit-build includes https://github.com/scikit-build/scikit-build/pull/526
  build_windows_wheels:
    name: Wheels for Windows
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive

    - uses: ilammy/msvc-dev-cmd@v1
      with:
        arch: x86

    - uses: joerick/cibuildwheel@v1.11.0
      env:
        CIBW_BUILD: cp3*-win32
        CIBW_TEST_EXTRAS: test
        CIBW_TEST_COMMAND: pytest {project}/tests

    - uses: ilammy/msvc-dev-cmd@v1
      with:
        arch: x64

    - uses: joerick/cibuildwheel@v1.11.0
      env:
        CIBW_BUILD: cp3*-win_amd64
        CIBW_TEST_EXTRAS: test
        CIBW_TEST_COMMAND: pytest {project}/tests

    - name: Upload wheels
      uses: actions/upload-artifact@v2
      with:
        path: wheelhouse/*.whl

  upload_all:
    needs: [build_wheels, build_windows_wheels, make_sdist]
    runs-on: ubuntu-latest
    if: github.event_name == 'release' && github.event.action == 'published'

    steps:
    - uses: actions/download-artifact@v2
      with:
        name: artifact
        path: dist

    - uses: pypa/gh-action-pypi-publish@v1.4.2
      with:
        user: __token__
        password: ${{ secrets.pypi_token }}
